# String

In [1]:
courses = 'Artificial Intelligence'

In [2]:
type(courses)

str

In [3]:
courses.capitalize()

'Artificial intelligence'

In [4]:
courses.upper()

'ARTIFICIAL INTELLIGENCE'

In [5]:
courses.title()

'Artificial Intelligence'

In [7]:
courses.lower()

'artificial intelligence'

In [9]:
courses.count('e')

3

In [10]:
text = "My name is Sohail Abbas"

In [12]:
text.endswith('ali')

False

In [13]:
text.endswith('s')

True

In [14]:
text.startswith("My")

True

In [15]:
marks = '100'

In [17]:
marks.isalnum()

True

In [18]:
marks.isalpha()

False

In [19]:
marks.islower()

False

# String Concatenation

In [20]:
first_name = "Ali"
last_name = "Hassan"

In [21]:
first_name + last_name

'AliHassan'

In [27]:
age = 30

In [28]:
first_name + age

TypeError: can only concatenate str (not "int") to str

In [29]:
first_name + last_name +str(age)

'AliHassan30'

In [32]:
name = input("Enter the name")
fname = input("Enter the father name")
age = float(input("Enter the age"))
print("Mr " + name + "s/o " +fname + "you are" + str(age) + " old.")

Enter the nameali
Enter the father namehassan
Enter the age12
Mr alis/o hassanyou are12.0 old.

# String Formating

In [33]:
print('Mr {} s/o {} you are {} old'.format(name,fname,age))

Mr ali s/o hassan you are 12.0 old

In [35]:
print(f"Mr {name} s/o {fname} you are {age} old")

Mr ali s/o hassan you are 12.0 old

In [38]:
text = """my name
         is sohail
         abbas"""

In [39]:
text

'my name\n         is sohail\n         abbas'

In [40]:
len(text)

41

In [41]:
text[0]

'm'

# Slicing

In [42]:
text = "Ali is my younger brother"

In [43]:
text[0:11]

'Ali is my y'

In [44]:
country = "Pakistan"

In [45]:
country[0:2:1]

'Pa'