# Loops

In [64]:
for a in range(10):
    print(a,"Sohail Abbas")

0 Sohail Abbas
1 Sohail Abbas
2 Sohail Abbas
3 Sohail Abbas
4 Sohail Abbas
5 Sohail Abbas
6 Sohail Abbas
7 Sohail Abbas
8 Sohail Abbas
9 Sohail Abbas

In [65]:
courses = ['Python','Web','Flutter','GD','Cyber']

In [66]:
for course in courses:
    print(f" we are offering {course} course")

 we are offering Python course
 we are offering Web course
 we are offering Flutter course
 we are offering GD course
 we are offering Cyber course

In [67]:
range(10)

range(0, 10)

In [68]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
students = ['Hamza','Saif','Muhammad Arbab','Kashif','Rehan',]

In [70]:
students

['Hamza', 'Saif', 'Muhammad Arbab', 'Kashif', 'Rehan']

In [71]:
for student in students:
    print(student.upper())

HAMZA
SAIF
MUHAMMAD ARBAB
KASHIF
REHAN

In [72]:
for student in students:
    if student !='Saif':
        print(f"{student}Kal chutti ha")
    else:
        print(f"{student} Kal zaroor ana")

HamzaKal chutti ha
Saif Kal zaroor ana
Muhammad ArbabKal chutti ha
KashifKal chutti ha
RehanKal chutti ha

In [73]:
#message all students whose name is less than or equal to 4 characters
for student in students:
    if len(student) <=4:
        print(f"{student}: Your are selected for intenship")

Saif: Your are selected for intenship

In [74]:
lst = list(range(1,101))

In [75]:
lst_of_mutiples_of_5 = []

In [76]:
for num in lst:
    if num%5==0:
        lst_of_mutiples_of_5.append(num)

In [77]:
lst_of_mutiples_of_5

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [78]:
newlst = []

In [79]:
for num in lst:
    if (num%5==0) and (num%10!=0):
        newlst.append(num)

In [80]:
newlst

[5, 15, 25, 35, 45, 55, 65, 75, 85, 95]

In [81]:
mof5 = []
notmof5 = []
for num in lst:
    if num%5==0:
        mof5.append(num)
    else:
        notmof5.append(num)

In [82]:
mof5

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [83]:
notmof5

[1,
 2,
 3,
 4,
 6,
 7,
 8,
 9,
 11,
 12,
 13,
 14,
 16,
 17,
 18,
 19,
 21,
 22,
 23,
 24,
 26,
 27,
 28,
 29,
 31,
 32,
 33,
 34,
 36,
 37,
 38,
 39,
 41,
 42,
 43,
 44,
 46,
 47,
 48,
 49,
 51,
 52,
 53,
 54,
 56,
 57,
 58,
 59,
 61,
 62,
 63,
 64,
 66,
 67,
 68,
 69,
 71,
 72,
 73,
 74,
 76,
 77,
 78,
 79,
 81,
 82,
 83,
 84,
 86,
 87,
 88,
 89,
 91,
 92,
 93,
 94,
 96,
 97,
 98,
 99]

In [86]:
List = list(range(20))

In [87]:
even = []
odd = []
for num in List:
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)

In [88]:
even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [89]:
print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [90]:
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# List Comprehension

In [93]:
squares = []
for num in List:
    square = num**2
    squares.append(square)

In [94]:
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [95]:
[num**2 for num in lst]

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

In [96]:
evens = [num for num in lst if num%2==0]

In [97]:
evens

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [100]:
odds = []
evens = []
[num if num%2==0 else odds.append(num) for num in lst]

[None,
 2,
 None,
 4,
 None,
 6,
 None,
 8,
 None,
 10,
 None,
 12,
 None,
 14,
 None,
 16,
 None,
 18,
 None,
 20,
 None,
 22,
 None,
 24,
 None,
 26,
 None,
 28,
 None,
 30,
 None,
 32,
 None,
 34,
 None,
 36,
 None,
 38,
 None,
 40,
 None,
 42,
 None,
 44,
 None,
 46,
 None,
 48,
 None,
 50,
 None,
 52,
 None,
 54,
 None,
 56,
 None,
 58,
 None,
 60,
 None,
 62,
 None,
 64,
 None,
 66,
 None,
 68,
 None,
 70,
 None,
 72,
 None,
 74,
 None,
 76,
 None,
 78,
 None,
 80,
 None,
 82,
 None,
 84,
 None,
 86,
 None,
 88,
 None,
 90,
 None,
 92,
 None,
 94,
 None,
 96,
 None,
 98,
 None,
 100]

In [101]:
evens

[]

In [103]:
[f"{num} is Even" if num%2==0 else f"{num} is Odd" for num in List]

['0 is Even',
 '1 is Odd',
 '2 is Even',
 '3 is Odd',
 '4 is Even',
 '5 is Odd',
 '6 is Even',
 '7 is Odd',
 '8 is Even',
 '9 is Odd',
 '10 is Even',
 '11 is Odd',
 '12 is Even',
 '13 is Odd',
 '14 is Even',
 '15 is Odd',
 '16 is Even',
 '17 is Odd',
 '18 is Even',
 '19 is Odd']