In [1]:
print("Sohail Abbas is my name")
print("My age is 23")

Sohail Abbas is my name
My age is 23

In [2]:
name = "Shardda"
age = 23
price = 24.99

In [3]:
print("my name is ",name)
print("my age is",age)

my name is  Shardda
my age is 23

In [4]:
#Type
type(name)

str

In [5]:
type(age)

int

In [6]:
type(price)

float

In [7]:
name1 = "sk"
name2 = "sk"
name3 = """sk"""

In [8]:
print(name1)

sk

In [9]:
print(name2)

sk

In [10]:
print(name3)

sk

In [11]:
old = False
a = None

In [14]:
type(old)

bool

In [15]:
type(a)

NoneType

In [16]:
a = 100
b = 200
print(a+b)

300

# Operations:

In [17]:
#Arithematic Operater
a = 5
b = 7
print(a+b)
print(a-b)
print(a*b)

12
-2
35

In [18]:
#Relational Operater
a = 50
b = 50
print(a==b)
print(a!=b)

True
False

In [19]:
#Assignment Operator
num = 5
num = num+5
print(num)

10

In [20]:
#Logica Operator
val1 =True
val2 = True
print(val1 and val2)

True

In [21]:
#Type Coasting
a = 3
a = float(a)
print(a)

3.0

In [22]:
print(type(a))

<class 'float'>

In [23]:
#Input 
name = input("Enter the name")
print("Welcome",name)

Enter the nameSohail
Welcome Sohail

In [24]:
name = input("Enter the name")
age = int(input("Enter your age "))
print(name)
print(age)

Enter the nameSohail
Enter your age 18
Sohail
18

In [25]:
#Practice Question
#Write a program to input 2 numbers and print their sum
num1 = int(input("Enter the first number"))
num2 = int(input("Enter the second number"))
sum = num1 +num2
print(sum)

Enter the first number10
Enter the second number20
30

In [29]:
#Write a program to input side of a square and print its area
side = int(input("Enter the side of a square"))
area = side*side
print(area)

Enter the side of a square12
144

In [30]:
#Write a program to input 2 floating point numbers and print their average
a = float(input("Enter the first number"))
b = float(input("Enter the second number"))
print("avg",(a+b)/2)

Enter the first number12
Enter the second number12
avg 12.0

In [32]:
#Write a program to input int numbers, a and b. Prin True if a greater than ore equal to be.If not print false
a = int(input("Enter the first number"))
b = int(input("Enter the second number"))
print(a>=b)

Enter the first number12
Enter the second number10
True